.answer-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

@media (min-width: 768px) {
  .answer-buttons-container {
    flex-direction: row;
  }
}

.quiz-option-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: 2px solid #007BFF;
  background-color: white;
  color: #7c3aed;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.quiz-option-btn:hover:enabled {
  background-color: #007BFF;
  color: white;
}

.quiz-option-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
